<!-- templates/navbar.html -->
<nav style="background-color: #ff6f61; padding: 15px; display: flex; justify-content: space-between; align-items: center;">
    <div style="font-size: 24px; font-weight: bold; color: white;">
        🍕SANGAMESH'S PIZZA CORNER
    </div>
    <div>
        <a href="/home" style="color: white; margin-right: 20px; text-decoration: none;">Home</a>
        <a href="/menu" style="color: white; margin-right: 20px; text-decoration: none;">Menu</a>
        <a href="/order.html" style="color: white; margin-right: 20px; text-decoration: none;">Orders</a>
        <a href="about.html" style="color: white; margin-right: 20px; text-decoration: none;">About</a>
        <a href="/contact" style="color: white; margin-right: 20px; text-decoration: none;">Contact</a>
        <a href="/logout" style="color: white; margin-left: 20px; text-decoration: none;">Logout</a>
        <a href="/cart" style="color: white; margin-left: 20px; text-decoration: none;">cart</a>
    </div>
</nav>
